<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Student Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    @{ var currentUser = "Guest"; }
    @if (Request.IsAuthenticated)
    {
        currentUser = @Context.User.Identity.Name;
    }
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="azure">
            <div class="sidebar-wrapper">
                <div class="logo">

                    <!----------  Header  ---------->
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="#" class="simple-text">
                            S M S / ADMIN
                        </a>
                    }
                    @if (User.IsInRole("Student"))
                    {
                        <a href="#" class="simple-text">
                            S M S / STUDENT
                        </a>
                    }
                    @if (User.IsInRole("Lecturer"))
                    {
                        <a href="#" class="simple-text">
                            S M S / LECTURER
                        </a>
                    }
                    @if (User.IsInRole("HOD"))
                    {
                        <a href="#" class="simple-text">
                            S M S / HOD
                        </a>
                    }

                </div>
                <ul class="nav">
                    <!----------  Admin  ---------->
                    @if (User.IsInRole("Admin"))
                    {
                        <!-- Home -->
                        <li class="@(ViewBag.Title=="Index"? "active" : "")">
                            <a href="@Url.Action("Index", "Admin")">
                                <i class="pe-7s-graph"></i>
                                <p>Home</p>
                            </a>
                        </li>

                        <!-- Create Account -->
                        <li class="@(ViewBag.Title=="Create Account"? "active" : "")">
                            <a href="@Url.Action("CreateAccount", "Admin")">
                                <i class="pe-7s-id"></i>
                                <p>Create Account</p>
                            </a>
                        </li>

                                                <!-- Create Account -->
                        <li class="@(ViewBag.Title=="Admin Backup"? "active" : "")">
                            <a href="@Url.Action("AdminBackup", "Admin")">
                                <i class="pe-7s-copy-file"></i>
                                <p>Admin Backup</p>
                            </a>
                        </li>
                    }
                    

                    <!---------- Student ---------->
                    @if (User.IsInRole("Student"))
                    {
                        <!-- Home -->
                        <li class="@(ViewBag.Title=="Index"? "active" : "")">
                            <a href="@Url.Action("Index", "Student")">
                                <i class="pe-7s-graph"></i>
                                <p>Home</p>
                            </a>
                        </li>

                        <!-- View Grade -->
                        <li class="@(ViewBag.Title=="ViewGrade"? "active" : "")">
                            <a href="@Url.Action("ViewGrade", "Student")">
                                <i class="pe-7s-graph"></i>
                                <p>View Grades</p>
                            </a>
                        </li>

                    }

                    <!---------- Lecturer ---------->
                    @if (User.IsInRole("Lecturer"))
                    {
                        <!-- Home -->
                        <li class="@(ViewBag.Title=="Index"? "active" : "")">
                            <a href="@Url.Action("Index", "Lecturer")">
                                <i class="pe-7s-graph"></i>
                                <p>Home</p>
                            </a>
                        </li>

                        <!-- Student Related -->

                        <li>
                            <a href="#collapsed-menu0" data-toggle="collapse" class="" aria-expanded="true">
                                <i class="pe-7s-users"></i>
                                <p>Student Related</p>
                            </a>
                            <ul class="nav collapsed-menu collapse" id="collapsed-menu0" aria-expanded="true">

                                <!-- Edit Student Particulars -->
                                <li class="@(ViewBag.Title=="Edit Student's Particular"? "active" : "")">
                                    <a href="@Url.Action("SearchStudentParticulars", "Lecturer")">
                                        <i class="pe-7s-id"></i>
                                        <p>Edit Particulars</p>
                                    </a>
                                </li>

                                <!-- Grade Assign -->
                                <li class="@(ViewBag.Title=="Assign Student's Grades"? "active" : "")">
                                    <a href="@Url.Action("ModuleTeach", "Lecturer")">
                                        <i class="pe-7s-note2"></i>
                                        <p>Assign Grades</p>
                                    </a>
                                </li>
                                
                                <!-- Student Enrollment -->
                                <li class="@(ViewBag.Title=="Student Enrolment"? "active" : "")">
                                    <a href="@Url.Action("StudentEnrolment", "Lecturer")">
                                        <i class="pe-7s-culture"></i>
                                        <p>Enrolment</p>
                                    </a>
                                </li> 
                                                                
                            </ul>
                        </li>
                        <!-- Course Related -->

                        <li>
                            <a href="#collapsed-menu1" data-toggle="collapse" class="" aria-expanded="true">
                                <i class="pe-7s-study"></i>
                                <p>Course Related</p>
                            </a>
                            <ul class="nav collapsed-menu collapse" id="collapsed-menu1" aria-expanded="true">
                                <!-- Programme Management -->
                                <li class="@(ViewBag.Title=="Programme"? "active" : "")">
                                    <a href="@Url.Action("ProgrammeIndex", "Lecturer")">
                                        <i class="pe-7s-paint-bucket"></i>
                                        <p>Programme</p>
                                    </a>
                                </li>
                                <!-- Module Management -->
                                <li class="@(ViewBag.Title=="Module"? "active" : "")">
                                    <a href="@Url.Action("ModuleIndex", "Lecturer")">
                                        <i class="pe-7s-keypad"></i>
                                        <p>Module</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }

                    

                    <!---------- H  O  D ---------->
                    @if (User.IsInRole("HOD"))
                    {
                        <!-- Home -->
                        <li class="@(ViewBag.Title=="Index"? "active" : "")">
                            <a href="@Url.Action("Index", "HOD")">
                                <i class="pe-7s-graph"></i>
                                <p>Home</p>
                            </a>
                        </li>
                    }

                    
                    
                    
                    <!---------- ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ---------->

                    <!---------- ===== ===== ===== ===== ===== ===== ===== Nobody ===== ===== ===== ===== ===== ===== ===== ---------->

                    @if (!User.IsInRole("Admin") && !(User.IsInRole("HOD")) && !User.IsInRole("Student") && !User.IsInRole("Lecturer"))
                    {
                    <li>
                        <hr />
                        <a href="#collapsed-menu" data-toggle="collapse" class="" aria-expanded="true">
                            <i class="pe-7s-paint"></i>
                            <p>UI Related</p>
                        </a>
                        <ul class="nav collapsed-menu collapse" id="collapsed-menu" aria-expanded="true">
                            <li class="@(ViewBag.Title=="UI Elements"? "active" : "")">
                                <a href="@Url.Action("UiElements", "Ui")">
                                    <i class="pe-7s-paint-bucket"></i>
                                    <p>UI Elements</p>
                                </a>
                            </li>
                            <li class="@(ViewBag.Title=="Grids"? "active" : "")">
                                <a href="@Url.Action("Grids", "Ui")">
                                    <i class="pe-7s-keypad"></i>
                                    <p>Grids</p>
                                </a>
                            </li>
                            <li class="@(ViewBag.Title=="Forms"? "active" : "")">
                                <a href="@Url.Action("Forms", "Ui")">
                                    <i class="pe-7s-copy-file"></i>
                                    <p>Forms</p>
                                </a>
                            </li>
                            <li class="@(ViewBag.Title=="Typography"? "active" : "")">
                                <a href="@Url.Action("Typography", "Ui")">
                                    <i class="pe-7s-pen"></i>
                                    <p>Typography</p>
                                </a>
                            </li>
                            <li class="@(ViewBag.Title=="Icons"? "active" : "")">
                                <a href="@Url.Action("Icons", "Ui")">
                                    <i class="pe-7s-magic-wand"></i>
                                    <p>Icons</p>
                                </a>
                            </li>
                            <li class="@(ViewBag.Title=="Tables"? "active" : "")">
                                <a href="@Url.Action("Tables", "Ui")">
                                    <i class="pe-7s-menu"></i>
                                    <p>Tables</p>
                                </a>
                            </li>
                            <li class="@(ViewBag.Title=="Notifications"? "active" : "")">
                                <a href="@Url.Action("Notifications", "Ui")">
                                    <i class="pe-7s-bell"></i>
                                    <p>Notifications</p>
                                </a>
                            </li>
                            <li class="@(ViewBag.Title=="Sample Dashboard"? "active" : "")">
                                <a href="@Url.Action("Dashboard", "Ui")">
                                    <i class="pe-7s-display2"></i>
                                    <p>Sample Dashboard</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    }
                   
                    <!---------- ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ---------->

                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">@ViewBag.Title</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        @*<ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-dashboard"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret"></b>
                                    <span class="notification">5</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Notification 1</a></li>
                                    <li><a href="#">Notification 2</a></li>
                                    <li><a href="#">Notification 3</a></li>
                                    <li><a href="#">Notification 4</a></li>
                                    <li><a href="#">Another notification</a></li>
                                </ul>
                            </li>
                        </ul>*@
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="">
                                    @currentUser
                                </a>
                            </li>
                            @*<li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Dropdown
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>*@
                            <li>
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
         
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        &copy; 2016 <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>
