@model IEnumerable<ICT3104_Group4_SMS.Models.GradeRecViewModel>
@{
    ViewBag.Title = "View Grades";
}

<h2>View Grades</h2>

<div class="row">
    <div class="col-md-12">
        
        <div class="card">
            
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ModuleName)</th>
                        
                        <th>@Html.DisplayNameFor(model => model.GradeItem.grade)</th>
                    </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in @ViewBag.ModulesGrades)
                        {
                            string[] tokens = @item.Split(',');
                            <tr>
                                <td>@tokens[0]</td>
                                
                                <td>@tokens[1]</td>
                                
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
        
        <div class="card">
            @if (ViewBag.GPA != null)
            {
                <div class="header">
                    <h4 class="title">GPA</h4>
                </div>
                <div class="content">
                  
                    <h3>@ViewBag.GPA</h3>
                </div>
            }
        </div>
        

    </div>
    

</div>