
@{
    ViewBag.Title = "Archived Students";
}
@Scripts.Render("~/bundles/notifications")
<h2>Archived Students</h2>
<div>
    <button onclick="location.href='@Url.Action("Archive", "Admin")';return false;" class="btn btn-primary"><i class="pe-7s-study"></i>Archive</button>
    </br>
</div>

@model IEnumerable<ICT3104_Group4_SMS.Models.ArchivedRecord>


@if (TempData["Message"] == "activeSuccess")
{
    <script type="text/javascript">
        notifArchive.showNotification('top', 'center');
    </script>
}
@if (TempData["Message"] == "activeFail")
{
    <script type="text/javascript">
        notifFailArchive.showNotification('top', 'center');
    </script>
    
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Accounts</h4>
                <p class="category">List of Archived Students</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.studentName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.moduleName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.score)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.grade)
                            </th>
                            

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.studentName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.moduleName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.score)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.grade)
                                </td>

                               
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>