@model IEnumerable<ICT3104_Group4_SMS.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Account</h4>
                <p class="category">List of created account</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th>
                                Role
                            </th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>

                        @if (ViewBag.List != null)
                        {
                            foreach (var user in @ViewBag.List)
                            {
                                <tr>
                                    <td>
                                        @user[1]
                                    </td>
                                    <td>
                                        @user[2]
                                    </td>
                                    <td>
                                        @user[3]
                                    </td>
                                    <td>
                                        @user[4]
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "EditAccount", new { id = @user[0] })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Delete", "DeleteAccount", new { id = @user[0] })
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>