@using ICT3104_Group4_SMS.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Student Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div style="margin-top: 7em">
        <h2 style="text-align: center;">Student Management System</h2>
        <h5 style="text-align: center;">Login for non-students</h5>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                @*<div class="panel panel-default">
                    <div class="panel-body">*@
                        <div class="card">
                            <div class="panel-body">
                                @using (Html.BeginForm("LoginNonStudent", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                    @Html.HiddenFor(m => m.Password, new { Value = "nil" })
                                    <div class="form-group">
                                        <div class="col-md-offset-5 col-md-2">
                                            <input type="submit" value="Next" class="btn btn-default" />
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="col-md-12">
                                        <p style="text-align: center;">@Html.ActionLink("Click here to login as a student instead.", "Login")</p>
                                    </div>
                                }
                            </div>
                        @*</div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</body>
</html>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
