@model IEnumerable<ICT3104_Group4_SMS.Models.Module>

@{
    ViewBag.Title = "Moderate Mark";
}


<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="header">
                <h4 class="title">Module List</h4>
                <p class="category">Choose which module for mark moderation</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.name)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.status)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.year)
                            </th>

                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                             
                                    @if (item.status != null)
                                    {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.status) </td>
                                        }
                                        else
                                        {
                                        <td>Locked</td>
       
                                        }
  
                                <td>
                                    @Html.DisplayFor(modelItem => item.year)
                                </td>
                                @if (item.status == "Frozen")
                                {
                                    <td>
                                        <button onclick="location.href='@Url.Action("PublishGrade", "HOD", new { id = item.Id })';return false;" class="btn btn-primary"><i class="pe-7s-study"></i> Publish</button>
                                    </td>
                                }
                                else if (item.status == "Published")
                                {
                                    <td>
                                        <button onclick="location.href='@Url.Action("ModerateMarkView", "HOD", new { id = item.Id, moduleName = item.name , moduleStatus = item.status })';return false;" class="btn btn-primary"><i class="pe-7s-look"></i> View Grade</button>
                                    </td>
                                }
                                else if (item.status == "Locked")
                                {
                                    <td>
                                        <button onclick="location.href='@Url.Action("ModerateMarkView", "HOD", new { id = item.Id, moduleName = item.name, moduleStatus = item.status })';return false;" class="btn btn-primary"><i class="pe-7s-study"></i> Moderate Mark</button>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <button onclick="location.href='@Url.Action("ModerateMarkView", "HOD", new { id = item.Id, moduleName = item.name, moduleStatus = item.status })';return false;" class="btn btn-primary"><i class="pe-7s-study"></i> View Students</button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>





