@model IEnumerable<ICT3104_Group4_SMS.Models.GradeRecViewModel>

@{
    ViewBag.Title = "Moderate Mark View";
}

<h2>View Grades</h2>

<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="header">
                <h4 class="title">Moderation for Module @ViewBag.moduleName</h4>
                <p class="category">List of student's grade</p>
            </div>
            @if (Model.Count() == 0)
            {
                <p class="text-danger">
                    There are no students taking this module.
                </p>
            }
            else
            {
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.StudentName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GradeItem.score)
                                </th>
                                
                                <th>
                                    @Html.DisplayNameFor(model => model.GradeItem.grade)
                                </th>
                                


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StudentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GradeItem.score)
                                    </td>
                                    <td>
                                        @if (item.GradeItem.score > 100.0)
                                        { @Html.Raw("Error") }
                                        else if (item.GradeItem.score >= 85.0)
                                        { @Html.Raw("A+") }
                                        else if (item.GradeItem.score >= 80.0)
                                        { @Html.Raw("A")  }
                                        else if (item.GradeItem.score >= 75.0)
                                        { @Html.Raw("B+") }
                                        else if (item.GradeItem.score >= 70.0)
                                        { @Html.Raw("B")  }
                                        else if (item.GradeItem.score >= 50.0)
                                        { @Html.Raw("C+") }
                                        else if (item.GradeItem.score >= 30.0)
                                        { @Html.Raw("C")  }
                                        else
                                        { @Html.Raw("F")  }
                                        
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>

        <div class="card">
@if (ViewBag.moduleStatus != "Published")
{
            <div class="header">
                <h4 class="title">Setting</h4>
            </div>     
            <div class="content">
                @using (Html.BeginForm("ModerateAction", "HOD", FormMethod.Post))
                {
                @Html.Hidden("moduleId", (string)(ViewBag.moduleId.ToString()))
                <div class="form-group">
                    <label for="moderationPercentage">Moderation Percentage</label>
                    <input class="form-control" id="moderationPercentage" placeholder="Moderation %" name="moderationPercentage">
                </div>
                <button class="btn btn-primary"><i class="pe-7s-pen"></i> Moderate Mark</button>
                }

                <hr>
                <div class="header">
                    <h4 class="title">Freeze</h4>
                    <p class="category">Finalize moderation and freeze the mark</p>
                </div>
                <div class="content">
                @using (Html.BeginForm("FreezeGrade", "HOD", FormMethod.Post))
                {
                    @Html.Hidden("moduleId", (string)(ViewBag.moduleId.ToString()))
                    <button class="btn btn-primary" type="submit"><i class="pe-7s-pen"></i> Freeze Mark</button>
                }
                </div>
            </div>
}
        </div>

            <div>
                @Html.ActionLink("Back to modules list", "ModerateMark", "HOD", null, null)
            </div>

        </div>
</div>
