@Scripts.Render("~/bundles/notifications")

@model IEnumerable<ICT3104_Group4_SMS.Models.GradeRecViewModel>

@{
    ViewBag.Title = "Module details";
}

<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="header">
                <h4 class="title">Grades for Module @ViewBag.moduleName</h4>
                @if (Model.Count() == 0)
                {
                    <p class="text-danger">
                        There are no students taking this module.
                    </p>
                }
            </div>
            <br />
            

            @if(Model.Count() > 0)
            {
                if (@ViewBag.moduleStatus.Equals("Created"))
                {
                    <div class="col-md-12">
                        <button onclick="location.href='@Url.Action("GradeAssign", "Lecturer", new { id = ViewBag.moduleId })';return false;" class="btn btn-primary"><i class="pe-7s-pen"></i> Update Grades</button>
                    </div>
                    <br />
                }

                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.StudentName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GradeItem.score) 
                                </th>
                                
                                <th>@Html.DisplayNameFor(model => model.GradeItem.grade)</th>

                                <th>
                                    @Html.DisplayNameFor(model => model.RecItem.recommendation)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RecItem.status)
                                </th>
                                @if (ViewBag.moduleStatus == "Created")
                                {
                                <th>
                                </th>
                                }
                              
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StudentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GradeItem.score)
                                    </td>
                                    
                                    <td>@if (item.GradeItem.score > 100.0)
                                    { @Html.Raw("Error") }
                                    else if (item.GradeItem.score >= 85.0)
                                    { @Html.Raw("A+") }
                                    else if (item.GradeItem.score >= 80.0)
                                    { @Html.Raw("A")  }
                                    else if (item.GradeItem.score >= 75.0)
                                    { @Html.Raw("B+") }
                                    else if (item.GradeItem.score >= 70.0)
                                    { @Html.Raw("B")  }
                                    else if (item.GradeItem.score >= 50.0)
                                    { @Html.Raw("C+") }
                                    else if (item.GradeItem.score >= 30.0)
                                    { @Html.Raw("C")  }
                                    else
                                    { @Html.Raw("F")  }</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RecItem.recommendation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RecItem.status)
                                    </td>
                                    <td>
                                        @if (ViewBag.moduleStatus == "Created" || ViewBag.moduleStatus == "Inserted")
                                        {
                                            if (item.RecItem.recommendation == "-")
                                            {
                                                <button onclick="location.href='@Url.Action("RecommendationCreate", "Lecturer", new { id = item.GradeItem.Id, name = item.StudentName })';return false;" class="btn btn-primary"><i class="pe-7s-star"></i> Add Recommendation</button>
                                            }
                                            else if (item.RecItem.status == "Pending")
                                            {
                                                <button onclick="location.href='@Url.Action("RecommendationEdit", "Lecturer", new { id = item.RecItem.Id, gradeId = item.GradeItem.Id })';return false;" class="btn btn-primary"><i class="pe-7s-star"></i> Update Recommendation</button>
                                            }
                                            else if (item.RecItem.status == "Approved")
                                            {
                                                <button onclick="location.href='@Url.Action("GradesUpdate", "Lecturer", new { id = item.GradeItem.Id, recId = item.RecItem.Id, moduleId = ViewBag.moduleId })';return false;" class="btn btn-primary"><i class="pe-7s-note"></i> Update Grade</button>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>

        @if (Model.Count() > 0)
        {
        <div class="card">
                @if (ViewBag.moduleStatus == "Created" || ViewBag.moduleStatus == "Inserted")
                {
                    <div class="header">
                        <h4 class="title">Grade Lock</h4>
                        <p class="category">Finalize grading and Lock the grade</p>
                    </div>
                    <div class="content">
                        @if (ViewBag.pendingRec)
                        {
                            <p>All recommendations have to be reviewed first before the grades can be locked.</p>
                        }
                        else
                        {
                            <button onclick="location.href = '@Url.Action("LockGrade", "Lecturer", new { id = ViewBag.moduleId })';return false;'; return false;" class="btn btn-primary"><i class="pe-7s-pen"></i> Lock Grade</button>
                        }
                    </div>       
                }
                else
                {
                    <div class="header">
                        <h4 class="title">Grade is @ViewBag.moduleStatus</h4>
                    </div>
                    <div class="content">
                        
                    </div>
                }
          
        </div>
        }
        <div>
            @Html.ActionLink("Back to modules list", "ModuleTeach", "Lecturer", null, null)
        </div>
    </div>
</div>

@if (TempData["GradeUpdateSuccess"] != null)
{
    if ((bool)TempData["GradeUpdateSuccess"])
    {
        <script>
            notifSuccess.showNotification("Grades updated successfully.");
        </script>
    }
}
