@model List<ICT3104_Group4_SMS.Models.Grade>

@{
    ViewBag.Title = "GradeAssign";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Grade Assignment @ViewBag.selectedModule.name</h4>
                <p class="category">Assign Grade for @ViewBag.selectedModule.name</p>
            </div>
            @using (Html.BeginForm("GradeAssign", "Lecturer", FormMethod.Post))
            {

            <div class="content table-responsive table-full-width">

                  @Html.Hidden("moduleId", (string)(ViewBag.selectedModule.Id.ToString()))

                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>
                                    Student ID
                                </th>
                                <th>
                                    Score
                                </th>
                        
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() != 0)
                            {
                                for (int i = 0; i < Model.Count(); i++)
                                {
                            <tr>

                                    <td>@Html.HiddenFor(model => model[i].Id)</td>
                                   
                                    <td>@Html.HiddenFor(model => model[i].lecturermoduleId)</td>
                                    <td>@Html.HiddenFor(model => model[i].studentId)</td>
                                    <td>@ViewBag.nameList[i]</td>
                                    <td>@Html.EditorFor(model => model[i].score)</td>
                                </tr>
                                }
                            }
                            else {
                                <tr><td>No grade for this module</td></tr>
                            }
                        </tbody>
                    </table>
                
            </div>
            <div class="col-md-offset-5">
                <input type="submit" class="btn btn-default" value="Update Grade" />
                <p style="color:green; font-size:12px">@ViewBag.Message</p>
            </div>
            }
            <br/>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}






