@Scripts.Render("~/bundles/notifications")
@model IEnumerable<ICT3104_Group4_SMS.Models.ApplicationUser>

@{
    ViewBag.Title = "Enrol Student";
}

<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="header">
                <h4 class="title">Enrolling students to @ViewBag.selectedEnrolModule</h4>
                <p class="category">List of students that is not enroled in this module</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (ViewBag.ListStudentNotInModule != null)
                        {
                            foreach (var student in @ViewBag.ListStudentNotInModule)
                            {
                                <tr>
                                    <td>
                                        @student[4]
                                    </td>
                                    <td>
                                        @student[1]
                                    </td>
                                    <td>
                                        @student[2]
                                    </td>
                                    <td>
                                        @student[3]
                                    </td>
                                    <td>
                                        <button onclick="location.href='@Url.Action("StudentEnrol", "Lecturer", new { studentId = student[0], moduleName = ViewBag.selectedEnrolModule})';return false;" class="btn btn-primary"><i class="pe-7s-rocket"></i>Enrol Student</button>              
                                    </td>                         
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@if (TempData["StudentEnrolDone"] != null)
{
    <script>
        notifSuccess.showNotification("Student is enrolled successfully.");
    </script>
}